<?xml version="1.0"?>
<phpunit
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  bootstrap="./index.php"
  verbose="true"
>

  <testsuites>
    <testsuite name="JuliansTestSuite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <php>

    <ini name="error_reporting" value="E_ALL" />

    <env name="APP_ENV" value="testing" />

  </php>

</phpunit>