$heading-color: #3e3e3e;
$border-color: rgba($heading-color, 0.5);
$max-width: 1200px;
$gutter-width: 40px;
$default-padding: 20px;
$default-margin: 10px;
$heading-font: Verdana, sans-serif;
$default-font: Arial, Helvetica, sans-serif;
$mobile-breakpoint: 430px;
$desktop-breakpoint: 1080px;

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body {
    font-family: #{$default-font};
    font-size: 12px;
    line-height: 1.5;
    background-color: black;
    @media screen and (min-width: #{$mobile-breakpoint}) {
        font-size: 16px;
    }
}

header,
section,
footer {
    max-width: #{$max-width};
    width: calc(100% - #{$gutter-width});
    margin: 0 auto;
}

section,
footer {
    background-color: white;
}

section {
    margin-top: #{$default-margin};
    margin-bottom: #{$default-margin};
    border: 1px solid #{$border-color};
    padding: #{$default-padding};
}

h1, h2, h3, h4, h5, h6 {
    font-family: #{$heading-font};
    color: #{$heading-color};
}

h1 {
    text-align: center;
    color: white;
}

ol, ul {
    list-style: inside;
    margin-top: #{$default-margin};
    margin-bottom: #{$default-margin};
}

img {
    border: 0;
    vertical-align: top;
}

.clearfix {
    &:before,
    &:after {
        line-height: 0;
        content: "";
        display:block;
        height: 0;
        clear: both;
    }
}

ul.list {
    list-style: none;
    max-width: 1016px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    @media screen and (min-width: #{$desktop-breakpoint}) {
        text-align: left;
    }
}

ul.list li {
    max-width: 100%;
    display: inline-block;
    @media screen and (min-width: #{$mobile-breakpoint}) {
        max-width: 350px;
    }
}

ul.list li img {
    width: 100%;
    height: auto;
    @media screen and (min-width: #{$mobile-breakpoint}) {
        width: auto;
    }
}

ul.list li span {
    display: block;
    text-align: center;
}